.join {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end; /* قرارگیری کل بخش در سمت راست */
}

@media (max-width: 600px) {
    .join {
        flex-direction: row; /* حفظ چینش افقی در دستگاه‌های کوچک */
        align-items: center;
        gap: 10px;
        justify-content: center; /* تنظیم برای قرارگیری در سمت راست */
    }

    .join-item {
        width: auto; /* تنظیم عرض خودکار */
    }

    .indicator-item {
        margin: 0;
    }

    #search-input {
        width: 100px; /* تنظیم عرض کوچکتر برای دستگاه‌های موبایل */
    }

    #filter-select {
        width: 70px; /* تنظیم عرض کوچکتر برای دستگاه‌های موبایل */
    }

    #search-button {
        width: 57px; /* تنظیم عرض کوچکتر برای دستگاه‌های موبایل */
    }
}

#search-input {
    width: 150px; /* تنظیم عرض به مقدار دلخواه */
}
