.join {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end; /* قرارگیری کل بخش در سمت راست */
}

@media (max-width: 600px) {
    .join {
        flex-direction: column;
        align-items: flex-end; /* تنظیم برای قرارگیری در سمت راست در موبایل */
        gap: 10px;
    }

    .join-item {
        width: 100%;
    }

    .indicator-item {
        margin: 0;
        width: auto; /* تنظیم عرض خودکار برای هماهنگی بهتر */
    }
}

